:root {
  --black: #000000;
  --purple: #810ad1c0;
  --red: #EA1212;
  --white: #ffffff;
  --gray: #80808056;
  --counter: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', cursive;
  background-color: var(--black);
  display: inline;
}